/*Setup*/
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

body {
	margin: 0;
  font-size: 21px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #fffaee;
}

#container, nav {
  width: 960px;
  margin: 0 auto;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #FAA633;
}

#submit {
	cursor: pointer;
}

/*Header*/

header {
	background-color: black;
	padding: none;
	overflow: hidden;
	height: 80px;
	width: 100%;
}	

footer {
	height: 30px;
	border-bottom: 2px solid lightgrey;
	clear: both;
	margin: 30px 0 30px 0
}

h1 {
	font-size: 24px;
	font-weight: 600;
	color: black;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 18px;
	font-weight: 400;
	color: black;
}

h3 {
	font-size: 18px;
	font-weight: 400;
	color: black;
}

nav {
	clear: both;
}

nav .logo {
	margin: 15px 0 0 0;
	height: 40px;
	display: inline-block;
	float: left;
	cursor: pointer;
}

nav .register {
	border-radius: 2px;
	border-style: none;
	font-weight: 600;
	padding: 12px 0;
	width: 150px;
	font-size: 18px;
	display: block;
	float: right;
	margin: 15px 20px 0 0;
	background-color: #FAA633;
}

nav a {
	color: #FAA633;
	font-weight: 300;
	font-size: 18px;
	display: inline-block;
	float: right;
	padding: 25px 0 0 25px;
	position: relative;
}

nav a:hover {
	text-decoration: underline;
}

nav form {
	display: inline-block;
	height: 30px;
	padding-top: 20px;
	float: right;
	position: relative;
}

.searchbox {
	height: 30px;
	width: 175px;
	display: none;
	border-style: none;
}

.showsearch .searchbox {
	display: inline-block;
}

.headericon {
	height: 30px;
	float: right;
	margin: 3px 3px 3px 10px;
	display: inline-block;
	cursor: pointer;

}

/*Landing*/

#activeCollabs {
	width: 600px;
	margin: 30px 0 0 50px;
	display: inline-block;
	float: left;
}

#activeCollabs h1 {
	margin-bottom: 30px;
}

#activeCollabs .collabox {
	min-height: 200px;
	width: 100%;
	background-color: white;
	border: 1px solid black;
	margin-bottom: 50px;
	position: relative;
}

#activeCollabs .boxtitle {
	margin: 10px 0 0 10px;
}

.collabox .collaboxlogo {
	position: absolute;
	top: 10px;
	right: 10px;
}

.collabox .collaboxlogo img {
	width: 40px;
}

.collaboximg {
	width: 100px;
	margin: 20px 0 0 30px;
}

.item h2 {
	margin: 0;
}

.item {
	display: inline-block;
	-webkit-transition: 1.5s ease;
}


.open .item {
	display: block;

}
.open .collaboximg {
	margin: 0 0 0 30px;
}

.links {
	display: none;
	margin-left: 30px;
}

.open .links {
	display: inline-block;
	padding-bottom: 30px;

}

.links a {
	display: block;
	font-size: 16px;
}

.collabox .plusminus {
	width: 35px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/*Profile*/

#profile {
	border-right: 2px solid black;
	width: 200px;
	height: 100%;
	padding: 0 0 60% 0;
	margin-top: 30px;
	display: block;
	float: left;
}

#profile h1 {
	margin-bottom: 30px;
}

#profile a {
	display: block;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 10px;
}

#profile .findcollabs {
	margin-bottom: 15px;
	font-weight: 600;
}

#profilemenu1 {
	display: none;
}

#profilemenu2 {
	display: none;
}

.profilebox {
	display: none;
}

/*Find Collabs1*/

#findcollabs1 {
	width: 600px;
	margin: 30px auto;
}

#findcollabs1 img {
	margin: 40px;
	width: 100px;
}
#findcollabs1 #submit, #findcollabs2 #submit {
	border-radius: 2px;
	border-style: none;
	font-weight: 600;
	padding: 12px 0;
	width: 150px;
	font-size: 18px;
	display: block;
	float: right;
	margin: 15px 20px 0 0;
	color: #FAA633;
	background-color: black;
	height: 50px;
}

.findcollabimg {
	cursor: pointer; 	
}

.findcollabimg:hover {
	background-size: 200px;
	background-color: #FAA633;
	border-radius: 3px;
}

.findcollabimg .imgorange {
	background-size: 200px;
	background-color: #FAA633;
	border-radius: 3px;
}

/*Find Collabs2*/
#findcollabs2 {
	width: 600px;
	margin: 30px auto;
}

#findcollabs2 h1 {
	display: inline-block;
}

.refineicon {
	width: 50px;
	display: inline-block;
	float: right;
}

#findcollabs2 form {
	padding-top: 30px;
}

#findcollabs2 form input {
	width: 450px;
	display: block;
	margin: 5px 0 25px 0;
	height: 30px;
}

#findcollabs2 label {
	font-size: 18px;
	font-weight: 400;
}
#findcollabs2 form label {

}

/*Login and Register*/

#login {
	width: 540px;
	margin: 150px auto;
	position: relative;
}

#login p{
	color: #FAA633;
	font-weight: 600;
	font-size: 24px;
}

#login input {
	width: 95%;
	height: 30px;
	margin: 10px 0 10px 0;
}

#login #submit {
	border-radius: 2px;
	height: 50px;
	border-style: none;
	font-weight: 600;
	padding: 15px 0;
	width: 150px;
	font-size: 18px;
	display: block;
	float: right;
	margin: 15px 20px 0 0;
	background-color: black;
	color: #FAA633;
}

#login a {
	font-size: 14px;
	position: absolute;
}


@media screen and (max-width: 720px) {
	#container{
		width: 100%;
	}

	header {
		width: 100%;
	}

	nav {
		width: 100%;
	}

	#activeCollabs {
		width: 80%;
	}

	.item {
	display: block;
	padding-bottom: 20px; 
	}

	.links {
	display: inline-block;
	}

	.plusminus {
		display: none;
	}

	#profile {
		display: none;
	}

	nav form {
		position: absolute;
		margin-left: 20px;
	}

	nav a {
		margin-right: 10px;
	}

	header .logo {
		display: none;
	}

	#profilemenu1 {
		display: block;
		position: absolute;
		margin: 5px;
	}

	.open .profilebox {
		display: block;
		background-color: black;
		margin: 10px 0 10px 0;
	}

	.profilebox a {
		color: #FAA633;
		display: block;
		margin: 10px;
		font-size: 18px;
	}

	.open #profilemenu1 {
		display: none;
	}

	.open #profilemenu2 {
		display: block;
		position: absolute;
		margin: 5px;
	}

	#findcollabs1 {
	width: 100%;
	margin: 30px auto;
	}

	#findcollabs2 {
	width: 100%;
	margin: 30px auto;
	}

	#findcollabs1 img {
	margin: 25px;
	}
}